.destinations {
    overflow-x: hidden;
    padding: 96px 0 100px;
}

.destinations__row {
    display: flex;
    column-gap: 50px;
}

.destinations__content {
    max-width: 456px;
}

.destinations__slider {
    width: 1110px;
    flex-shrink: 0;
}

.destinations__title {
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 600;

    & span {
        font-size: 30px;
    }
}

.destinations__text {
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 500;
    color: rgba($secondary, 0.5);
}
