@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    font-family: $font-main;
    font-size: 25px;
    color: $secondary;
    background-color: $page-bg;
}

.none {
    display: none !important;
}

.container {
    max-width: $container-width;
    padding: 0 $container-padding;
    margin: 0 auto;
}

.container-right {
    padding-left: calc((100% - $container-width) / 2 + $container-padding);
}

.container-left {
    padding-right: calc((100% - $container-width) / 2 + $container-padding);
}

.logo {
    font-weight: bold;

    & a {
        color: inherit !important;
    }
}
