// Fonts
$font-main: "Poppins", sans-serif;

// Colors
$white: #fff;
$white-btn: #fefefe;
$black: #000;
$secondary: #0f1f1c;
$accent: #ff7c4e;
$color-border-nav: #c4c4c4;
$page-bg: #f6f6f6;
$gradient-btn: linear-gradient(129.54deg, $accent 15.57%, #ff584e 95.03%),
    $white;

// Container
$container-width: 1270px;
$container-padding: 15px;

// Media
$point1270: 1270px;
$point1200: 1200px;
$point1000: 1000px;
$point850: 850px;
$point750: 750px;
$point700: 700px;
$point600: 600px;
$point460: 460px;
